extends layout 
 
block content 
  h1= title 
 
  form(id='KiteForm', action="/resource/kites", method="POST") 
    div.form-group 
        label.kiteAttr(for='Brand') Kite Brand 
        input#Brand(type='text', name='Brand') 
    div.form-group 
        label.kiteAttr(for='color') Kite color 
        input#color(type='text', name='color') 
    div.form-group 
        label.kiteAttr(for='price') Kite price 
        input#price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['KiteForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });